[submodule "kineto"]
	path = kineto
	url = https://git.sr.ht/~sircmpwn/kineto
[submodule "agate"]
	path = agate
	url = https://github.com/mbrubeck/agate
[submodule "amfora"]
	path = amfora
	url = https://github.com/makeworld-the-better-one/amfora.git
[submodule "bombadillo"]
	path = bombadillo
	url = https://tildegit.org/sloum/bombadillo.git
[submodule "lagrange"]
	path = lagrange
	url = https://github.com/skyjake/lagrange.git
[submodule "gemget"]
	path = gemget
	url = https://github.com/makeworld-the-better-one/gemget.git
[submodule "vydyck"]
	path = capsule
	url = git@gitlab.com:ucxdvd/vydyck
